.navbar {
    background-color: black;
}
.jumbotron {
    margin: 0;
}
.custom-row {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.sarah-img {
    width: 50%;
    height: auto;
}